{% set ssh_key = lookup('file', oko_edpm_ssh_private_key_path, errors='ignore') | default('', true) %}
{% if ssh_key | length > 0 %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ oko_edpm_ssh_secret_name }}
  namespace: {{ oko_namespace }}
type: Opaque
data:
  ssh-privatekey: {{ (ssh_key ~ '\n') | b64encode }}
---
{% endif %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: network-config-template
  namespace: {{ oko_namespace }}
data:
  network_config_template: |
    ---
    {% raw %}{% set mtu_list = [ctlplane_mtu] %}
    {% for network in nodeset_networks %}
    {% set _ = mtu_list.append(lookup('vars', networks_lower[network] ~ '_mtu')) %}
    {%- endfor %}
    {% set min_viable_mtu = mtu_list | max %}
    network_config:
    - type: interface
      name: nic1
      mtu: {{ min_viable_mtu }}
      use_dhcp: true
      defroute: true
    - type: ovs_bridge
      name: {{ neutron_physical_bridge_name }}
      mtu: {{ min_viable_mtu }}
      use_dhcp: false
      dns_servers: {{ ctlplane_dns_nameservers | default([]) }}
      domain: {{ dns_search_domains | default([]) }}
      addresses:
      - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_cidr }}
      routes: []
      members:
{% endraw %}{% if not (oko_edpm_bridge_veth_enabled | bool) %}{% raw %}
      - type: interface
        name: {{ neutron_public_interface_name }}
        mtu: {{ min_viable_mtu }}
        primary: true
{% endraw %}{% endif %}{% raw %}
    {% for network in nodeset_networks %}
      - type: vlan
        mtu: {{ lookup('vars', networks_lower[network] ~ '_mtu') }}
        vlan_id: {{ lookup('vars', networks_lower[network] ~ '_vlan_id') }}
        addresses:
        - ip_netmask:
            {{ lookup('vars', networks_lower[network] ~ '_ip') }}/{{ lookup('vars', networks_lower[network] ~ '_cidr') }}
        routes: {{ lookup('vars', networks_lower[network] ~ '_host_routes') | default([]) }}
    {% endfor %}
{% endraw %}---
apiVersion: v1
kind: ConfigMap
metadata:
  name: neutron-edpm
  namespace: {{ oko_namespace }}
data:
  physical_bridge_name: {{ oko_neutron_physical_bridge_name }}
  public_interface_name: {{ oko_edpm_public_interface_name }}
  global_physnet_mtu: "{{ oko_neutron_global_physnet_mtu }}"
---
apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneNodeSet
metadata:
  name: {{ oko_edpm_nodeset_name }}
  namespace: {{ oko_namespace }}
spec:
  env:
    - name: ANSIBLE_FORCE_COLOR
      value: "True"
  networkAttachments:
    - ctlplane
  preProvisioned: true
  tlsEnabled: {{ oko_edpm_tls_enabled | bool | lower }}
  nodeTemplate:
    ansible:
      ansibleUser: {{ oko_edpm_ansible_user }}
      ansibleVars:
        gather_facts: false
        image_tag: {{ oko_image_tag }}
        registry_url: {{ oko_registry_url }}
        edpm_nodes_validation_validate_controllers_icmp: false
        edpm_nodes_validation_validate_gateway_icmp: false
        edpm_network_config_nonconfigured_cleanup: {{ (not (oko_edpm_bridge_veth_enabled | bool)) | lower }}
        ctlplane_host_routes: []
        ctlplane_dns_nameservers:
          - {{ oko_dns_loadbalancer_ip }}
        dns_search_domains:
          - {{ oko_ctlplane_dns_domain }}
        ctlplane_mtu: {{ oko_ctlplane_mtu }}
        internalapi_mtu: {{ oko_internalapi_mtu }}
        storage_mtu: {{ oko_storage_mtu }}
        tenant_mtu: {{ oko_tenant_mtu }}
        neutron_public_interface_name: {{ oko_edpm_public_interface_name }}
        neutron_global_physnet_mtu: {{ oko_neutron_global_physnet_mtu }}
        edpm_ovn_dbs:
          - {{ oko_ovn_sb_db_ip }}
      ansibleVarsFrom:
        - configMapRef:
            name: network-config-template
          prefix: edpm_
        - configMapRef:
            name: neutron-edpm
          prefix: neutron_
    ansibleSSHPrivateKeySecret: {{ oko_edpm_ssh_secret_name }}
{% set _ansibleee_mounts = oko_dev_repos | selectattr('ansibleee_mount', 'defined') | selectattr('ansibleee_mount') | list
   + oko_dev_repos | rejectattr('ansibleee_mount', 'defined') | selectattr('nfs_export', 'defined') | selectattr('nfs_export') | list %}
{% if _ansibleee_mounts | length > 0 %}
    extraMounts:
{% for _repo in _ansibleee_mounts %}
      - extraVolType: {{ _repo.name }}-dev
        volumes:
        - name: {{ _repo.nfs_pv_name | default(_repo.name ~ '-dev') }}
          persistentVolumeClaim:
            claimName: {{ _repo.nfs_pvc_name | default(_repo.name ~ '-dev') }}
            readOnly: true
        mounts:
        - name: {{ _repo.nfs_pv_name | default(_repo.name ~ '-dev') }}
          mountPath: {{ _repo.nfs_mount_path | default('/usr/share/ansible/collections/ansible_collections/osp/edpm') }}
          readOnly: true
{% endfor %}
{% endif %}
  nodes:
{% set ctlplane_prefix = oko_edpm_ctlplane_fixed_ip_start.rsplit('.', 1)[0] %}
{% set ctlplane_start = oko_edpm_ctlplane_fixed_ip_start.rsplit('.', 1)[1] | int %}
{% for node in oko_edpm_nodes %}
    {{ node.name }}:
      hostName: {{ node.name }}.{{ oko_ctlplane_dns_domain }}
      ansible:
        ansibleHost: {{ node.ansible_host }}
      networks:
        - name: ctlplane
          subnetName: subnet1
          defaultRoute: false
          fixedIP: {{ ctlplane_prefix }}.{{ ctlplane_start + loop.index0 }}
        - name: internalapi
          subnetName: subnet1
        - name: storage
          subnetName: subnet1
        - name: tenant
          subnetName: subnet1
{% endfor %}
  services:
    - repo-setup
    - bootstrap
    - download-cache
    - configure-network
    - validate-network
    - install-os
    - configure-os
    - ssh-known-hosts
    - run-os
    - reboot-os
    - install-certs
    - ovn
    - neutron-metadata
    - libvirt
    - nova
---
apiVersion: dataplane.openstack.org/v1beta1
kind: OpenStackDataPlaneDeployment
metadata:
  name: {{ oko_edpm_deployment_name }}
  namespace: {{ oko_namespace }}
spec:
  nodeSets:
    - {{ oko_edpm_nodeset_name }}
