#cloud-config
preserve_hostname: false
hostname: {{ ard_node.hostname | default(ard_node.name) }}
manage_etc_hosts: {{ ard_node.manage_etc_hosts | default(false) | bool | lower }}
users:
  - default
  - name: stack
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - {{ ard_stack_public_key }}
