[submodule "submodules/devstack"]
	path = submodules/devstack
	url = https://opendev.org/openstack/devstack
[submodule "submodules/zuul-jobs"]
	path = submodules/zuul-jobs
	url = https://opendev.org/zuul/zuul-jobs
[submodule "submodules/openstack-zuul-jobs"]
	path = submodules/openstack-zuul-jobs
	url = https://opendev.org/openstack/openstack-zuul-jobs
[submodule "submodules/sf-infra"]
	path = submodules/sf-infra
	url = https://github.com/softwarefactory-project/sf-infra
