---
# defaults file for devstack_compute
repos_dir: /opt/repos
git_base: "https://github.com"
devstack_libvirt_type: 'kvm'
devstack_ip_version: 4
compute_localrc:
  GIT_BASE: "{{ git_base }}"
  DATABASE_TYPE: mysql
  DATABASE_PASSWORD: password
  RABBIT_PASSWORD: password
  ADMIN_PASSWORD: password
  SERVICE_PASSWORD: password
  NETWORK_GATEWAY: 10.1.0.1
  FIXED_RANGE: 10.1.0.0/20
  IPV4_ADDRS_SAFE_TO_USE: 10.1.0.0/20
  FLOATING_RANGE: 172.24.5.0/24
  PUBLIC_NETWORK_GATEWAY: 172.24.5.1
  LOGFILE: /opt/stack/logs/devstacklog.txt
  LOG_COLOR: true
  VERBOSE: true
  VERBOSE_NO_TIMESTAMP: true
  NOVNC_FROM_PACKAGE: true
  ERROR_ON_CLONE: false
  LIBVIRT_TYPE: '{{ devstack_libvirt_type | default("qemu") }}'
  # Multinode specific settings
  SERVICE_HOST: "{{ hostvars[groups['controller'][0]]['nodepool']['private_ipv4'] }}"
  HOST_IP: "{{ hostvars[inventory_hostname]['nodepool']['private_ipv4'] }}"
  PUBLIC_BRIDGE_MTU: '{{ external_bridge_mtu }}'
  DEBUG_LIBVIRT_COREDUMPS: true
  NOVA_VNC_ENABLED: true
  PUBLIC_BRIDGE: br-infra
  # TODO(sean-k-mooney): fix ipv6
  IP_VERSION: "{{ devstack_ip_version }}"
  # Subnode specific settings
  GLANCE_HOSTPORT: "{{ hostvars['controller']['nodepool']['private_ipv4'] }}:9292"
  Q_HOST: "{{ hostvars['controller']['nodepool']['private_ipv4'] }}"
  NOVA_VNC_ENABLED: true
  ENABLE_CHASSIS_AS_GW: false
  RABBIT_HOST: "{{ hostvars['controller']['nodepool']['private_ipv4'] }}"
  DATABASE_HOST: "{{ hostvars['controller']['nodepool']['private_ipv4'] }}"
compute_services:
  # Ignore any default set by devstack. Emit a "disable_all_services".
  base: false
  # Shared services
  tls-proxy: true
  # Nova services
  n-cpu: true
  n-novnc: true
  # Placement service
  placement-client: true
  # OVN services
  ovn-controller: true
  ovn-northd: true
  ovs-vswitchd: true
  ovsdb-server: true
  q-ovn-metadata-agent: true
  # Cinder
  c-vol: true
compute_local_conf:
  post-config:
    $NEUTRON_CONF:
      DEFAULT:
        global_physnet_mtu: '{{ external_bridge_mtu }}'
compute_project:
  canonical_hostname: opendev.org
  canonical_name: opendev.org/openstack/nova
  name: openstack/nova
  short_name: nova
  src_dir: src/opendev.org/openstack/nova
compute_projects:
  opendev.org/openstack/cinder:
    canonical_hostname: opendev.org
    canonical_name: opendev.org/openstack/cinder
    checkout: master
    checkout_description: zuul branch
    commit: 0d9076383c0a987b5382ee6423ca13c593f06263
    name: openstack/cinder
    required: true
    short_name: cinder
    src_dir: src/opendev.org/openstack/cinder
  opendev.org/openstack/devstack:
    canonical_hostname: opendev.org
    canonical_name: opendev.org/openstack/devstack
    checkout: master
    checkout_description: zuul branch
    commit: aac6b6c7912b3feae4b68789508bee4bf1544731
    name: openstack/devstack
    required: true
    short_name: devstack
    src_dir: src/opendev.org/openstack/devstack
  opendev.org/openstack/neutron:
    canonical_hostname: opendev.org
    canonical_name: opendev.org/openstack/neutron
    checkout: master
    checkout_description: zuul branch
    commit: a903fd20efe9b40c3c718b37d9490396379bf376
    name: openstack/neutron
    required: true
    short_name: neutron
    src_dir: src/opendev.org/openstack/neutron
  opendev.org/openstack/nova:
    canonical_hostname: opendev.org
    canonical_name: opendev.org/openstack/nova
    checkout: master
    checkout_description: zuul branch
    commit: a2c74f405ecf00b6be79544e10b6cd7edc036a3e
    name: openstack/nova
    required: true
    short_name: nova
    src_dir: src/opendev.org/openstack/nova
  opendev.org/openstack/placement:
    canonical_hostname: opendev.org
    canonical_name: opendev.org/openstack/placement
    checkout: master
    checkout_description: zuul branch
    commit: ffca1ebd9bcc10f59a2458ea6597d43cc0f608a1
    name: openstack/placement
    required: true
    short_name: placement
    src_dir: src/opendev.org/openstack/placement
