{{ ard_render_generated_header }}
---
ard_nodes:
{% set pool_overrides = (ard_render_overrides | default({})).get('node_pools', {}) %}
{% set node_overrides = ard_render_node_overrides | default({}) %}
{% for raw_pool in ard_render_topology_config.node_pools | default([]) %}
{% set pool_key = raw_pool.name | default(raw_pool.type) %}
{% set pool = raw_pool | combine(pool_overrides.get(raw_pool.type, {}), recursive=True) | combine(pool_overrides.get(pool_key, {}), recursive=True) %}
{% set node_type = ard_render_node_types[pool.type] %}
{% for index in range(1, (pool.count | int) + 1) %}
{% set generated_name = (pool.name if (pool.name is defined and (pool.count | int) == 1) else (pool.name_format | default('{type}-{index}') | replace('{type}', pool.type) | replace('{index}', index | string))) %}
{% set generated_hostname = (pool.hostname if (pool.hostname is defined and (pool.count | int) == 1) else (pool.hostname_format | default(pool.name_format | default('{type}-{index}')) | replace('{type}', pool.type) | replace('{index}', index | string))) %}
{% set generated_node = {'name': generated_name, 'hostname': generated_hostname, 'provider_resource_name': ard_resource_name_prefix + '-' + generated_name} %}
{% set node_override = node_overrides.get(generated_name, {}) %}
{% set node = node_type | combine(pool, recursive=True) | combine(generated_node, recursive=True) | combine(node_override, recursive=True) %}
  - name: {{ node.name }}
    hostname: {{ node.hostname }}
    provider_resource_name: {{ node.provider_resource_name }}
    groups:
{% for group in node.groups | default([]) | unique %}
      - {{ group }}
{% endfor %}
    image: {{ node.image | default(ard_render_default_image) }}
    flavor: {{ node.flavor | default(ard_render_compute_flavor) }}
    preference: {{ node.preference | default(ard_render_vm_preference) }}
    networks:
{% set node_network_overrides = node_override.networks | default({}) if node_override.networks is mapping else {} %}
{% for network_ref in node.networks | default([{'name': 'ard-mgmt', 'ip_start': 2 + loop.index0}]) %}
{% set network_config = ard_render_networks_config[network_ref.name] %}
{% set network_mode = network_config.mode | default('nat') %}
{% set network_prefix = (network_config.cidr | default('0.0.0.0/24')) | regex_replace('\.0/24$', '') %}
{% set ip_host = (network_ref.ip_start | default(network_ref.mac_start | default(2)) | int) + index - 1 %}
{% set mac_host = (network_ref.mac_start | default(network_ref.ip_start | default(2)) | int) + index - 1 %}
{% set mac_id = network_config.mac_id | default((network_prefix.split('.')[2] | int) if network_mode == 'nat' else loop.index0) %}
{% set network_override = node_network_overrides.get(network_ref.name, {}) %}
      - name: {{ network_ref.name }}
{% if network_mode == 'nat' or network_override.ip is defined or network_ref.ip is defined %}
        ip: {{ network_override.ip | default(network_ref.ip | default(network_prefix + '.' + (ip_host | string))) }}
{% endif %}
        mac: "{{ network_override.mac | default(network_ref.mac | default((network_config.mac_prefix | default('52:54:00')) + ':' + ('%02x' | format(mac_id | int)) + ':' + ('%02x' | format(loop.index0)) + ':' + ('%02x' | format(mac_host)))) }}"
{% endfor %}
    profiles:
{% for profile in ((node.profiles | default([])) + ard_render_node_profiles) | unique %}
      - {{ profile }}
{% endfor %}
{% endfor %}
{% endfor %}
