{{ ard_render_generated_header }}
---
ard_nodes:
{% set pool_overrides = (ard_render_overrides | default({})).get('node_pools', {}) %}
{% set node_overrides = ard_render_node_overrides | default({}) %}
{% set _render_for_kubevirt = ard_provider == 'kubevirt' %}
{% for raw_pool in ard_render_topology_config.node_pools | default([]) %}
{% set pool_type = raw_pool.get('type', none) %}
{% set pool_key = raw_pool.get('name', none) | default(pool_type, true) %}
{% set pool = raw_pool | combine(pool_overrides.get(pool_type, {}), recursive=True) | combine(pool_overrides.get(pool_key, {}), recursive=True) %}
{% set node_type = ard_render_node_types.get(pool_type, {}) %}
{% set pool_workload_roles = ([pool.workload_roles] if pool.workload_roles is string else pool.workload_roles | default([])) %}
{% set workload_role_catalog = ard_render_workload_roles.get(ard_workload, {}) | default({}) %}
{% set workload_role_namespace = namespace(groups=[], profiles=[], image_vars=[]) %}
{% for workload_role_name in pool_workload_roles %}
{% set workload_role = workload_role_catalog.get(workload_role_name, {}) %}
{% set workload_role_namespace.groups = (workload_role_namespace.groups + (workload_role.groups | default([]))) | unique | list %}
{% set workload_role_namespace.profiles = (workload_role_namespace.profiles + (workload_role.profiles | default([])) + (workload_role.node_profiles | default([]))) | unique | list %}
{% set workload_role_image_vars = ([workload_role.image_vars] if workload_role.image_vars is string else workload_role.image_vars | default([])) + ([workload_role.image_var] if workload_role.image_var is defined else []) %}
{% set workload_role_namespace.image_vars = (workload_role_namespace.image_vars + workload_role_image_vars) | unique | list %}
{% endfor %}
{% set workload_role_defaults = {'groups': workload_role_namespace.groups, 'profiles': workload_role_namespace.profiles, 'image_vars': workload_role_namespace.image_vars} %}
{% set name_type = pool.type | default(pool.name | default('node')) %}
{% set selected_node_class = pool.class | default(node_type.get('class', none), true) %}
{% set selected_node_class_defaults = ard_render_provider_node_class_defaults.get(selected_node_class, {}) %}
{% for index in range(1, (pool.count | int) + 1) %}
{% if pool.name is defined and (pool.count | int) == 1 %}
{% set generated_name = pool.name %}
{% else %}
{% set _generated_name_template = pool.name_format | default(name_type ~ '-' ~ (index | string)) %}
{% set generated_name = (_generated_name_template | replace('{type}', name_type) | replace('{index}', index | string)) %}
{% endif %}
{% if pool.hostname is defined and (pool.count | int) == 1 %}
{% set generated_hostname = pool.hostname %}
{% else %}
{% set _generated_hostname_template = pool.hostname_format | default(pool.name_format | default(name_type ~ '-' ~ (index | string))) %}
{% set generated_hostname = (_generated_hostname_template | replace('{type}', name_type) | replace('{index}', index | string)) %}
{% endif %}
{% set generated_node = {'name': generated_name, 'hostname': generated_hostname, 'provider_resource_name': ard_provider_resource_prefix + '-' + generated_name} %}
{% set node_override = node_overrides.get(generated_name, {}) %}
{% set node = node_type | combine(workload_role_defaults, recursive=True, list_merge='append') | combine(pool, recursive=True, list_merge='append') | combine(generated_node, recursive=True) | combine(node_override, recursive=True, list_merge='append') %}
{% set node_image_var_list = (([node.image_vars] if node.image_vars is string else node.image_vars | default([])) + ([node.image_var] if node.image_var is defined else [])) | unique | list %}
{% set node_image_namespace = namespace(images=[]) %}
{% for image_var in node_image_var_list %}
{% if image_var %}
{% set resolved_image = lookup('ansible.builtin.vars', image_var, default='') %}
{% if resolved_image and resolved_image not in node_image_namespace.images %}
{% set node_image_namespace.images = node_image_namespace.images + [resolved_image] %}
{% endif %}
{% endif %}
{% endfor %}
{% set node_workload_image = (node_image_namespace.images | length == 1) | ternary(node_image_namespace.images[0], ((node_image_namespace.images | length > 1) | ternary('__ARD_IMAGE_CONFLICT__', ''))) %}
{% set resolved_flavor = node.flavor | default('', true) %}
{% if resolved_flavor == '' %}
{% set resolved_flavor = selected_node_class_defaults.get('flavor', '') %}
{% endif %}
{% if resolved_flavor == '' %}
{% set resolved_flavor = ard_render_provider_defaults.get('flavor', ard_render_compute_flavor) %}
{% endif %}
{% set resolved_image = node.image | default('', true) %}
{% if resolved_image == '' %}
{% if node_workload_image == '__ARD_IMAGE_CONFLICT__' %}
{% set resolved_image = '__ARD_IMAGE_CONFLICT__' %}
{% elif node_workload_image != '' %}
{% set resolved_image = node_workload_image %}
{% elif ard_render_workload_default_image | default('', true) != '' %}
{% set resolved_image = ard_render_workload_default_image %}
{% elif selected_node_class_defaults.get('image', '') != '' %}
{% set resolved_image = selected_node_class_defaults.image %}
{% else %}
{% set resolved_image = ard_render_provider_defaults.image | default(ard_render_default_image, true) %}
{% endif %}
{% endif %}
  - name: {{ node.name }}
    hostname: {{ node.hostname }}
{% if node.manage_etc_hosts is defined and not _render_for_kubevirt %}
    manage_etc_hosts: {{ node.manage_etc_hosts | bool | lower }}
{% endif %}
    provider_resource_name: {{ node.provider_resource_name }}
    groups:
{% for group in node.groups | default([]) | unique %}
      - {{ group }}
{% endfor %}
{% if node.workload_roles is defined %}
    workload_roles:
{% for workload_role in ([node.workload_roles] if node.workload_roles is string else node.workload_roles | default([])) | unique %}
      - {{ workload_role }}
{% endfor %}
{% endif %}
    image: {{ resolved_image }}
    flavor: {{ resolved_flavor }}
    preference: {{ node.preference | default(ard_render_vm_preference) }}
    networks:
{% set node_network_overrides = node_override.networks | default({}) if node_override.networks is mapping else {} %}
{% if _render_for_kubevirt %}
{% for network_ref in node.networks | default([{'name': 'ard-mgmt', 'ip_start': 2 + loop.index0}]) %}
{% set network_override = node_network_overrides.get(network_ref.name, {}) %}
{% set network_is_explicit = (network_ref.name != 'ard-mgmt') or (network_override | length > 0) or network_ref.ip is defined or network_ref.mac is defined %}
      - name: {{ network_ref.name }}
{% if network_is_explicit %}
{% if network_override.ip is defined or network_ref.ip is defined %}
        ip: {{ network_override.ip | default(network_ref.ip) }}
{% endif %}
{% if network_override.mac is defined or network_ref.mac is defined %}
        mac: "{{ network_override.mac | default(network_ref.mac) }}"
{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% for network_ref in node.networks | default([{'name': 'ard-mgmt', 'ip_start': 2 + loop.index0}]) %}
{% set network_config = ard_render_networks_config[network_ref.name] %}
{% set network_mode = network_config.mode | default('nat') %}
{% set network_prefix = (network_config.cidr | default('0.0.0.0/24')) | regex_replace('\\.0/24$', '') %}
{% set ip_host = (network_ref.ip_start | default(network_ref.mac_start | default(2)) | int) + index - 1 %}
{% set mac_host = (network_ref.mac_start | default(network_ref.ip_start | default(2)) | int) + index - 1 %}
{% set mac_id = network_config.mac_id | default((network_prefix.split('.')[2] | int) if network_mode == 'nat' else loop.index0) %}
{% set network_override = node_network_overrides.get(network_ref.name, {}) %}
{% set mac_prefix = network_config.mac_prefix | default('52:54:00') %}
{% set generated_mac = mac_prefix ~ ':' ~ ('%02x' | format(mac_id | int)) ~ ':' ~ ('%02x' | format(loop.index0)) ~ ':' ~ ('%02x' | format(mac_host)) %}
      - name: {{ network_ref.name }}
{% if network_mode == 'nat' or network_override.ip is defined or network_ref.ip is defined %}
        ip: {{ network_override.ip | default(network_ref.ip | default(network_prefix + '.' + (ip_host | string))) }}
{% endif %}
        mac: "{{ network_override.mac | default(network_ref.mac | default(generated_mac)) }}"
{% endfor %}
    profiles:
{% for profile in ((node.profiles | default([])) + ard_render_node_profiles) | unique %}
      - {{ profile }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
