---
# defaults file for ensure_microshift
microshift_upgrade: false
microshift_user: stack
microshift_install_type: rpm
microshift_image: quay.io/microshift/microshift
microshift_tag: latest
microshift_volumes:
  - "hpvolumes:/var/hpvolumes:z,rw,rshared"
  - "microshift-data:/var/lib/microshift:rw,rshared"
  - "kubelet:/var/lib/kubelet:rw,rshared"
  - "/var/run/crio/crio.sock:/var/run/crio/crio.sock:rw,rshared,z"
  - "logs:/var/logs"
  # this might be needed for the kublet or cni config.
  - "/etc:/etc"
crio_os:  "CentOS_8_Stream"
crio_version: "1.21"
crio_install_type: rpm
crio_log_level: info
crio_packages:
  - cri-o
  - cri-tools
  - conntrack
install_olm: true
repo_dir: /opt/{{ microshift_user }}
operator_sdk_url: https://github.com/operator-framework/operator-sdk
operator_sdk_version: v1.21.0
manage_firewall: false
