apiVersion: v1
kind: Secret
metadata:
  name: cinder-nfs-shares
  namespace: {{ oko_namespace }}
  labels:
    service: cinder
    component: cinder-volume
type: Opaque
stringData:
  nfs-secrets.conf: |
    [nfs]
    nas_host = {{ oko_nfs_server }}
    nas_share_path = {{ oko_nfs_export_path }}
