apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack
  namespace: {{ oko_namespace }}
spec:
  secret: osp-secret
  storageClass: {{ oko_k8s_storage_class | quote }}
  dns:
    enabled: true
    template:
      dnsDataLabelSelectorValue: dnsdata
      options:
        - key: server
          values:
            - {{ oko_dns_forwarder }}
      override:
        service:
          metadata:
            annotations:
              metallb.universe.tf/address-pool: ctlplane
              metallb.universe.tf/allow-shared-ip: ctlplane
              metallb.universe.tf/loadBalancerIPs: {{ oko_dns_loadbalancer_ip }}
          spec:
            type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
            loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
            externalTrafficPolicy: Local
      replicas: 1
  galera:
    templates:
      openstack:
        replicas: 1
        secret: osp-secret
        storageClass: {{ oko_k8s_storage_class | quote }}
        storageRequest: 500Mi
      openstack-cell1:
        replicas: 1
        secret: osp-secret
        storageClass: {{ oko_k8s_storage_class | quote }}
        storageRequest: 500Mi
  rabbitmq:
    templates:
      rabbitmq:
        # Temporary ARD workaround: infra-operator currently accepts but does
        # not propagate RabbitMq override.service.spec.loadBalancerClass.  When
        # enabled, keep operator-owned RabbitMQ Services as ClusterIP and create
        # separate ARD-owned classed LoadBalancer Services after control-plane
        # readiness for EDPM-facing VIP/DNS connectivity.
        override:
          service:
{% if oko_rabbitmq_lb_workaround_enabled | bool %}
            spec:
              type: ClusterIP
{% else %}
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_rabbitmq_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
{% endif %}
        replicas: 1
        persistence:
          storage: 1Gi
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 768Mi
      rabbitmq-cell1:
        override:
          service:
{% if oko_rabbitmq_lb_workaround_enabled | bool %}
            spec:
              type: ClusterIP
{% else %}
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_rabbitmq_cell1_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
{% endif %}
        replicas: 1
        persistence:
          storage: 1Gi
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 768Mi
  memcached:
    templates:
      memcached:
        replicas: 1
  keystone:
    enabled: true
    apiOverride:
      route:
        spec:
          host: keystone-public-openstack.{{ oko_route_domain }}
    template:
      override:
        service:
          internal:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/allow-shared-ip: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
      databaseInstance: openstack
      memcachedInstance: memcached
      rabbitMqClusterName: rabbitmq
      secret: osp-secret
  placement:
    enabled: true
    apiOverride:
      route:
        spec:
          host: placement-public-openstack.{{ oko_route_domain }}
    template:
      override:
        service:
          internal:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/allow-shared-ip: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
      databaseInstance: openstack
      secret: osp-secret
  glance:
    enabled: true
    apiOverrides:
      default:
        route:
          spec:
            host: glance-public-openstack.{{ oko_route_domain }}
    template:
      databaseInstance: openstack
      secret: osp-secret
      keystoneEndpoint: default
      storage:
        storageClass: {{ oko_k8s_storage_class | quote }}
        storageRequest: 10Gi
      imageCache:
        size: 1Gi
      glanceAPIs:
        default:
          override:
            service:
              internal:
                metadata:
                  annotations:
                    metallb.universe.tf/address-pool: ctlplane
                    metallb.universe.tf/allow-shared-ip: ctlplane
                    metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
                spec:
                  type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
                  loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
          type: single
          replicas: 1
  cinder:
    enabled: true
    apiOverride:
      route:
        spec:
          host: cinder-public-openstack.{{ oko_route_domain }}
    template:
      databaseInstance: openstack
      secret: osp-secret
      cinderAPI:
        override:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: ctlplane
                  metallb.universe.tf/allow-shared-ip: ctlplane
                  metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
              spec:
                type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
                loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
        replicas: 1
      cinderScheduler:
        replicas: 1
      cinderBackup:
        replicas: 0
      cinderVolumes:
        nfs:
          replicas: 1
          customServiceConfig: |
            [DEFAULT]
            enabled_backends = nfs
            [nfs]
            volume_backend_name = nfs
            volume_driver = cinder.volume.drivers.nfs.NfsDriver
            nfs_snapshot_support = true
            nas_secure_file_operations = false
            nas_secure_file_permissions = false
          customServiceConfigSecrets:
            - cinder-nfs-shares
  ovn:
    enabled: true
    template:
      ovnDBCluster:
        ovndbcluster-nb:
          replicas: 1
          dbType: NB
          storageRequest: 10Gi
          networkAttachment: internalapi
        ovndbcluster-sb:
          replicas: 1
          dbType: SB
          storageRequest: 10Gi
          networkAttachment: internalapi
      ovnNorthd:
        replicas: 1
      ovnController:
        networkAttachment: tenant
        nicMappings:
          datacentre: {{ oko_ctlplane_master }}
  neutron:
    enabled: true
    apiOverride:
      route:
        spec:
          host: neutron-public-openstack.{{ oko_route_domain }}
    template:
      override:
        service:
          internal:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/allow-shared-ip: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
      databaseInstance: openstack
      secret: osp-secret
  nova:
    enabled: true
    apiOverride:
      route:
        spec:
          host: nova-public-openstack.{{ oko_route_domain }}
    cellOverride:
      cell1:
        noVNCProxy:
          route:
            spec:
              host: nova-novncproxy-cell1-public-openstack.{{ oko_route_domain }}
    template:
      apiServiceTemplate:
        override:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: ctlplane
                  metallb.universe.tf/allow-shared-ip: ctlplane
                  metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
              spec:
                type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
                loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
      metadataServiceTemplate:
        override:
          service:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: ctlplane
                metallb.universe.tf/allow-shared-ip: ctlplane
                metallb.universe.tf/loadBalancerIPs: {{ oko_internal_api_loadbalancer_ip }}
            spec:
              type: LoadBalancer
{% if oko_loadbalancer_class | default('') | length > 0 %}
              loadBalancerClass: {{ oko_loadbalancer_class }}
{% endif %}
      secret: osp-secret
      apiDatabaseInstance: openstack
      apiMessageBusInstance: rabbitmq
      cellTemplates:
        cell0:
          cellDatabaseAccount: nova-cell0
          conductorServiceTemplate:
            replicas: {{ oko_nova_cell0_conductor_replicas }}
          hasAPIAccess: true
        cell1:
          cellDatabaseAccount: nova-cell1
          cellDatabaseInstance: openstack-cell1
          cellMessageBusInstance: rabbitmq-cell1
          conductorServiceTemplate:
            replicas: {{ oko_nova_cell1_conductor_replicas }}
          hasAPIAccess: true
  telemetry:
    enabled: false
  swift:
    enabled: false
  ironic:
    enabled: false
  barbican:
    enabled: false
  manila:
    enabled: false
