apiVersion: v1
kind: Secret
metadata:
  name: osp-secret
  namespace: {{ oko_namespace }}
  labels:
    type: osp-secret
type: Opaque
stringData:
  AdminPassword: password
  AodhPassword: password
  BarbicanPassword: password
  CeilometerPassword: password
  CinderPassword: password
  DatabasePassword: password
  DbRootPassword: password
  GlanceDatabasePassword: password
  GlancePassword: password
  KeystoneDatabasePassword: password
  MetadataSecret: "42"
  NeutronDatabasePassword: password
  NeutronPassword: password
  NovaAPIDatabasePassword: password
  NovaCell0DatabasePassword: password
  NovaCell1DatabasePassword: password
  NovaPassword: password
  PlacementDatabasePassword: password
  PlacementPassword: password
  SwiftPassword: password
