---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ard_provider_resource_prefix | default(ard_deployment_name, true) }}-{{ _controller_node.name }}-lb"
  namespace: "{{ ard_kubevirt_namespace }}"
  labels:
    app.kubernetes.io/part-of: ard
    app.kubernetes.io/managed-by: ard
    app.kubernetes.io/instance: "{{ ard_deployment_name }}"
    ard.teim.app/deployment: "{{ ard_deployment_name }}"
    ard.teim.app/provider: kubevirt
    ard.teim.app/node: "{{ _controller_node.name }}"
{% for key, value in ard_kubevirt_extra_labels.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
spec:
  type: LoadBalancer
  selector:
    vm.kubevirt.io/name: "{{ ard_provider_resource_prefix | default(ard_deployment_name, true) }}-{{ _controller_node.name }}"
  ports:
{% for port in ard_kubevirt_controller_service_ports %}
    - name: "{{ port.name }}"
      port: {{ port.port }}
      targetPort: {{ port.targetPort }}
      protocol: {{ port.protocol | default('TCP') }}
{% endfor %}
