apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - netconfig.yaml
  - metallb-ctlplane.yaml
  - nad-datacentre.yaml
  - nad-ctlplane.yaml
  - nad-internalapi.yaml
  - nad-storage.yaml
  - nad-tenant.yaml
