apiVersion: network.openstack.org/v1beta1
kind: NetConfig
metadata:
  name: netconfig
  namespace: {{ oko_namespace }}
spec:
  networks:
    - name: ctlplane
      dnsDomain: ctlplane.example.com
      mtu: {{ oko_ctlplane_mtu }}
      subnets:
        - name: subnet1
          allocationRanges:
            - start: {{ oko_ctlplane_allocation_start }}
              end: {{ oko_ctlplane_allocation_end }}
          cidr: {{ oko_ctlplane_cidr }}
          gateway: {{ oko_ctlplane_gateway }}
    - name: internalapi
      dnsDomain: internalapi.example.com
      mtu: {{ oko_internalapi_mtu }}
      subnets:
        - name: subnet1
          allocationRanges:
            - start: {{ oko_internalapi_allocation_start }}
              end: {{ oko_internalapi_allocation_end }}
          cidr: {{ oko_internalapi_cidr }}
          vlan: {{ oko_internalapi_vlan }}
    - name: storage
      dnsDomain: storage.example.com
      mtu: {{ oko_storage_mtu }}
      subnets:
        - name: subnet1
          allocationRanges:
            - start: {{ oko_storage_allocation_start }}
              end: {{ oko_storage_allocation_end }}
          cidr: {{ oko_storage_cidr }}
          vlan: {{ oko_storage_vlan }}
    - name: tenant
      dnsDomain: tenant.example.com
      mtu: {{ oko_tenant_mtu }}
      subnets:
        - name: subnet1
          allocationRanges:
            - start: {{ oko_tenant_allocation_start }}
              end: {{ oko_tenant_allocation_end }}
          cidr: {{ oko_tenant_cidr }}
          vlan: {{ oko_tenant_vlan }}
